ex4_4_BookCatalog.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		targetNamespace="http://skuniv.ac.kr"
		xmlns:target="http://skuniv.ac.kr"
		elementFormDefault="qualified">
	
	<!-- Title, Author, Year 전역으로 뽑기 -->
	<group name="BookGroup">	
		<sequence>
			<element name="Title" type="string"/>
			<element name="Author" type="string"/>
			<element name="Year" type="string"/>
		</sequence>
	</group>

	<element name="BookCatalog">	
		<complexType>
			<sequence>
				<element name="Book" maxOccurs="unbounded">
					<complexType>
						<group ref="target:BookGroup"/>
					</complexType>
				</element>
			</sequence>
		</complexType>
	</element>
	
</schema>